.contenedorDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    padding-top: 3%;
    gap: 2%;
    
}

.contenedorDetail .detail{
    display: flex;
    flex-direction: column;
}


.contenedorDetail img {
    width:  500px;
    height: 500px;
}

.contenedorDetail .name{
    font-size:50px ;
}
.contenedorDetail .price{
    font-size: 30px ;
}

.contenedorDetail .tachado{
    color: red;
    text-decoration:line-through;
}