.orderConteiner{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    min-height: 80vh;
}


.orderRow{
    display: flex;
    flex-direction: row;
    gap: 7px;   
    align-items: center; 
    justify-content: space-evenly;
    width: 80vw;
    margin-bottom: 5px;
}

.orderRow .column1{
    display: flex;
    flex-direction: column;    
    align-items: center;    
    flex-basis: 10%;
}

.orderRow .column2{
    display: flex;
    flex-direction: column;    
    align-items: center;
    flex-basis: 15%;
}

.orderRow .column3{
    display: flex;
    flex-direction: column;    
    align-items: center;
    flex-basis: 40%;
    font-size: large;
}

.orderRow .column4{
    display: flex;
    flex-direction: column;    
    align-items: center;
    flex-basis: 12%;
    font-size: large;
}

.orderRow .column5{
    display: flex;
    flex-direction: column;    
    align-items: center;
    flex-basis: 10%;
}

.orderRow .column6{
    display: flex;
    flex-direction: column;    
    align-items: center;
    flex-basis: 12%;
    font-size: large;
}

.orderfinalizar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.orderfinalizar button{
    width: 250px;    
    height: 65px;    
    font-size: xx-large;
    border-radius: 7px;
    border-color: white;
    border-width: 2px;
    background-color: #3197d6;
    color: white;
}

.orderRow .orderTitulos{
    font-weight:bold ;    
    font-size: xx-large;
    margin-top: 15px;
}

.orderNoitems{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: x-large;
    font-weight: bold ;
    
}
