.navbar{
    display: flex;
    flex-direction: row;
    gap: 10 px;
    justify-content: space-between;    
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: rgb(223, 219, 219);
    border-bottom-width: 1PX;
}